---
import { getPosts } from "../utils/posts";
import PostCard from "./PostCard.astro";

interface Props {
  limit?: number;
}
const { limit } = Astro.props;

const blogs = await getPosts(limit);
---

<div
  id="post-display"
  class="grid sm:grid-cols-2 grid-cols-1 gap-y-3 gap-x-4 md:gap-x-8"
>
  {
    blogs?.map(
      async (post) =>
        post?.published_at && (
          <PostCard
            id={post.id}
            title={post.title}
            description={post.description}
            href={`/posts/${post.slug}`}
            publishedAt={post.published_at}
            image={
              post.image
                ? {
                    url: `https://blog-directus.vsahni.me/assets/${post.image}/${post.slug}.webp?key=blog`,
                    width: 1200,
                    height: 630,
                  }
                : undefined
            }
          />
        )
    )
  }
</div>

<style is:global>
  .pub_tooltip {
    font-size: 0.875rem;
    width: fit-content;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1;
    padding: 0.75rem;
    background-color: rgb(15, 15, 15);
    border-radius: 0.375rem;
    -webkit-transform: translateX(-60%) translateY(8px);
    transform: translateX(-60%) translateY(8px);
    transition: all 150ms ease-in-out;
    transition-delay: 0s;
  }
  .published_at:hover .pub_tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 1.5s;
  }

  @media (hover: none) {
    .pub_tooltip {
      display: none !important;
    }
  }
</style>
