---
import Nav from "../components/Nav.astro";
import { formatIsoDatetime } from "../utils/functions";
import Layout from "./Layout.astro";
interface Props {
  postTitle: string;
  publishedAt: string;
  updatedAt: string;
  content: string;
  description: string;
  navActive?: boolean;
}
const {
  postTitle,
  content,
  publishedAt,
  updatedAt,
  description,
  navActive = true,
} = Astro.props;
const formattedUpdated = formatIsoDatetime(updatedAt);
const formattedPublished = formatIsoDatetime(publishedAt);
---

<Layout title={`${postTitle} - Varun Sahni`}>
  <main
    class="mx-auto min-h-[80vh] max-w-screen-lg scroll-smooth motion-reduce:scroll-auto font-sans text-white py-8 px-3"
  >
    <div
      class="w-full flex flex-col md:flex-row md:items-center md:justify-between"
    >
      <div>
        <h1 class="text-2xl md:text-3xl font-bold mb-1">{postTitle}</h1>
        <p class="text-base md:text-lg mb-3 md:mb-0">{description}</p>
      </div>
      <div class="text-base md:text-end">
        <p class="published">
          Published on {formattedPublished}
        </p>
        {
          formattedPublished !== formattedUpdated ? (
            <p class="text-white/70 italic updated">
              Last updated on {formattedUpdated}
            </p>
          ) : (
            ""
          )
        }
      </div>
    </div>
    <Nav navClass={!navActive ? "pointer-events-none" : ""} />
    <div
      class="prose prose-invert md:prose-lg prose-h2:mb-2"
      set:html={content}
    />
  </main>
  <div class="mx-auto max-w-screen-lg px-3">
    <hr class="!rounded-none !border-neutral-800" />
  </div>
  <div class="giscus max-w-screen-lg px-3 mx-auto py-8"></div>
  <script
    src="https://giscus.app/client.js"
    async
    data-repo="notskamr/blog-giscus"
    data-repo-id="R_kgDOKx2DuA"
    data-category="Announcements"
    data-category-id="DIC_kwDOKx2DuM4CbPME"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
</Layout>
