---
import Nav from "../components/Nav.astro";
import { parseIsoDatetime, formatIsoDatetime } from "../utils/functions";
import Layout from "./Layout.astro";
interface Props {
  postTitle: string;
  createdAt: string;
  updatedAt: string;
  content: string;
  description: string;
  navActive?: boolean;
}
const { postTitle, content, createdAt, updatedAt, description, navActive = true } = Astro.props;
const formattedUpdated = formatIsoDatetime(updatedAt)
const formattedCreated = formatIsoDatetime(createdAt)
---

<Layout title={`${postTitle} - Varun Sahni`}>
  <main
    class="mx-auto max-w-screen-lg scroll-smooth motion-reduce:scroll-auto font-sans text-white py-8 px-4"
  >
    <div class="w-full flex flex-col">
      <h1 class="text-3xl md:text-4xl font-bold mb-1">{postTitle}</h1>
      <p class="text-lg md:text-xl mb-1">{description}</p>
      <p class="text-base">
        Published on {formattedCreated}
      </p>
      {formattedCreated != formattedUpdated ? <h4 class="text-white/80 italic">Last updated on {formattedUpdated}</h4> : <></>}
    </div>
    <Nav navClass={!navActive ? "pointer-events-none" : ""}/>
    <div class="prose prose-invert prose-lg prose-h2:mb-2" set:html={content} />
  </main>
</Layout>
